@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
	$primary: #0d6efd,
	$secondary: #262626,
	$surface: #161616,
	$background: #2b2b2b,
	$error: color-palette.$red-900,
	$on-surface: #c2c2c2
);

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
	scrollbar-color: #181a1b #3f3fb3;
}

.preloader {
	background-color: theme.$background;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

::-webkit-scrollbar {
	background-color: #202324;
	color: #aba499;
	width: 12px;
}

::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
	background-color: #3f3fb3;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #5b5bc1;
}

.mdc-button--unelevated.mdc-ripple-upgraded--background-focused .mdc-button__ripple::before,
.mdc-button--unelevated:not(.mdc-ripple-upgraded):focus .mdc-button__ripple::before {
	opacity: 0 !important;
}
