body {
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}
:root {
	--width-sm: 640px;
	--width-md: 768px;
	--width-lg: 1024px;
	--width-xl: 1280px;
}

h1 > *,
h2 > *,
h3 > *,
h4 > *,
h3 > *,
h1,
h2,
h3,
h4 {
	font-family: 'Red Hat Display' !important;
}

.smui-accordion
	.smui-accordion__panel
	> .smui-accordion__header
	.smui-accordion__header__description {
	opacity: 0.75 !important;
	flex-basis: initial !important;
	white-space: normal !important;
}

.smui-accordion .smui-accordion__panel.smui-accordion__panel--raised,
.smui-accordion .smui-accordion__panel.smui-paper--unelevated {
	border-top-color: rgba(0, 0, 0, 0.2) !important;
}

.smui-accordion
	.smui-accordion__panel
	> .smui-accordion__header
	.smui-accordion__header__title.smui-accordion__header__title--with-description {
	flex-basis: initial !important;
}

.smui-accordion .smui-accordion__panel > .smui-accordion__header .smui-accordion__header__title {
	flex-grow: 0 !important;
}

* {
	font-family: 'IBM Plex Sans' !important;
	box-sizing: border-box;
}

.section {
	scroll-margin-top: 64px;
}

.nav-link-button {
	transition: ease-in-out 100ms;
}

.nav-link-button.smui-button--color-secondary.mdc-button--raised:not(:disabled),
.smui-button--color-secondary.mdc-button--unelevated.nav-link-button:not(:disabled) {
	background-color: initial !important;
}

.mdc-chip__text {
	font-size: 12px;
}

.mdc-chip {
	height: 20px;
}

.chips {
	justify-content: center;
}
